@tailwind base;
@tailwind components;
@tailwind utilities;

@layer compontents {

    .navbar-item {
        @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 font-mono;
    }

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

@media (prefers-color-scheme: dark) {
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: white;
    }
    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.fade-in {
    animation: fade-in-move-up 2.0s;
}

.fade-in-top {
    animation: fade-in-move-down 1.0s;
}

@keyframes fade-in-move-up {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-move-down {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}